
div.top-banner-background  {
	background-color: rgba(35,125,154,0.7)}
	
td.top-banner-name {
	background: black;
	vertical-align: top}

div.top-banner-name {
	margin: 25px; 
	color: white;
	font-size: 150%;
	/*font-weight:bold;*/
	}
	
td.top-banner-nexttoname {
	background: black}

td.top-banner-logo {
	background-color: rgba(0,0,0,1)}
	background-size: cover; 
	width: 250px
}
		
tr.top-banner-bottombar {
	height: 20px}
