<!--
/*By Matthias J. Ehrhardt
http://www0.cs.ucl.ac.uk/staff/M.Ehrhardt/
email: matthias.ehrhardt.11 [-at-] ucl [-dot-] ac [-dot-] uk

Last Modified: 2015-05-02*/
-->

html {
	overflow-y: scroll;}
	
html * {
	font-size: 100.01%;}
	
* {
	margin:0; 
	padding: 0;
}
 
table {
	border-collapse: collapse}

table.list {
	border-collapse: separate; 
	border-spacing: 5px; 
	margin: 5px;}

td {
	vertical-align:top;}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75.00%;
    color: #444;}

body.background {
	background-color: white;}
	
div.background-box {
	background-color: white; 
	max-width: 900pt; 
	margin: 0 auto;}

td.middle {
	padding: 20px}

td.pic{
	padding-left: 0px;  
	padding-top: 20px;  
	width: 160px}

table.mid {
	width: 100%;
	height: 390px;}
	
div.logo{
	background-size: contain;
	background-repeat: no-repeat;	
	background-position: center center;
	height: 100px !important;
	opacity: .5;
	border: 1px solid white;}

div.logo:hover{
	opacity: 1;}	
	
div.text-heading {
	font-size: 150%;
	color: rgb(35,125,154);
	margin: 15px;
	margin-bottom: 10px;}

div.text-subheading {
	font-weight:bold;
	margin-left: 2px}
div.text-body {
	margin: 15px;
	margin-top: 0px;
	margin-bottom:20px}
a {	
	color: rgba(35,125,154,1);
	text-decoration:none}
a:visited {}
a:hover {}
  
div.content {
   position: relative; 
   z-index: 2;
   background-color: rgba(35,125,154,.5);}
   
div.bannerOuter {
	position: fixed; 
	top: 0px; 
	background-color: rgba(35,125,154,0.7);}
