<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>

<!-- mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- font -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

<!-- misc -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Internet Explorer compatibility: see http://stackoverflow.com/questions/6771258/whats-the-difference-if-meta-http-equiv-x-ua-compatible-content-ie-edge-e -->
<meta http-equiv="X-UA-Compatible" content="IE=edge"/> 
<!--	<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"> </script> -->

<!-- css -->
<link rel="stylesheet" type="text/css" href="css/ucl.css">
<link rel="stylesheet" type="text/css" href="css/navigation.css">
<link rel="stylesheet" type="text/css" href="css/top_banner.css">
<link rel="stylesheet" type="text/css" href="css/bottom_banner.css">
<link rel="stylesheet" type="text/css" href="css/contact.css">

<title>Matthias J. Ehrhardt</title>

</head>

<body style="background-color: white; max-width: 900pt; margin: 0 auto;">

<!-- top banner -->
<div style="background: black; width: 100%; height: 100px">
<div style="color: white; font-size: 150%; padding: 25px">Matthias J. Ehrhardt</div>
</div>
<div style="background-color: rgba(35,125,154,0.7); width: 100%; height: 20px"></div>

<table class='mid'>
{{ content }}
</table>

<!-- bottom banner -->
<table class='bottom-banner'><tr><td class='navigation-banner'></td>
<td class='bottom-banner'></td>
<td class='bottom-banner'><a href="http://uk.linkedin.com/pub/matthias-j-ehrhardt/89/193/b61/"><div class="contact linkedin"> </div></a></td>
<td class='bottom-banner'><a href="https://www.researchgate.net/profile/Matthias_Ehrhardt2?ev=hdr_xprf"><div class="contact researchgate"> </div></a></td>
<td class='bottom-banner'><a href="http://orcid.org/0000-0001-8523-353X"><div class="contact orcid"> </div></a></td>
<td class='bottom-banner'><a href="https://github.com/mehrhardt"><div class="contact github"> </div></a></td>
<td class='bottom-banner'><a href="https://scholar.google.co.uk/citations?user=dkbrSccAAAAJ&hl=en"><div class="contact google"> </div></a></td>
<td class='bottom-banner'></td>
</tr></table><br>
		
<div style='background-color: black; height: 15px; width: 100%'></div><br>
<div style='width: 100%; text-align: center'> &copy; 2014-2018 Matthias J. Ehrhardt - m.ehrhardt@bath.ac.uk - last updated: 28/09/2018</div><br>

</body>
</html>
